auto-save-list/
backups/
elpa/
completions
network-security.data
server/
local/*.elc

.lsp-session*
semanticdb
*.eld
*.cache
recentf
eln-cache
async-bytecomp.log
projects
eshell/
ac-comphist.dat
url/
transient/
bookmarks
emojis/
var/pcache/
